<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgNDUVL_IWSb8NU7QWPlqj6z1D-DsPnyw</string>
	<key>GCM_SENDER_ID</key>
	<string>894024376312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andrii.iOSChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-5e923</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-5e923.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894024376312:ios:4cba9a069b01dcef83400d</string>
</dict>
</plist>